@import 'tailwindcss';

@theme {
  /* Твои кастомные цвета для Glassmorphism */
  --color-glass-white: rgba(255, 255, 255, 0.05);
  --color-glass-dark: rgba(0, 0, 0, 0.2);

  --font-sans: 'Inter', ui-sans-serif, system-ui;
}

/* Настройка плагинов в v4 делается через обычные CSS правила или @plugin */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
