---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import Portfolio from '../components/Portfolio';
import Timeline from '../components/Timeline';
import Footer from '../components/Footer';
import Skills from '../components/Skills';
import Header from '../components/Header';
import { projects } from '../data/projects';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Мое портфолио</title>
  </head>
  <body>
    <MainLayout title="Моё Портфолио">
      <Header client:visible />
      <Portfolio client:load projects={projects} />
      <Timeline client:visible />
      <Skills client:load />
      <Footer client:visible />
    </MainLayout>
  </body>
</html>
