---
import MainLayout from '../layouts/MainLayout.astro';
import {
  Portfolio,
  Timeline,
  Footer,
  Skills,
  Header,
  About,
  GithubSection,
  Achievements,
} from '../components';
---

<html lang="ru">
  <body>
    <MainLayout title="Портфолио">
      <Header client:load />
      <About client:load />
      <Portfolio client:load />
      <GithubSection client:visible />
      <Timeline client:visible />
      <Skills client:visible />
      <Achievements client:visible />
      <Footer client:visible />
    </MainLayout>
  </body>
</html>
