---
import ProjectCard from '../components/card/ProjectCard.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { projects } from '../data/projects';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Мое портфолио</title>
  </head>
  <body>
    <MainLayout pageTitle="Мое портфолио">
      <ProjectCard
        title={projects[projects.length - 1].title}
        description={projects[projects.length - 1].tech}
      />
      <ProjectCard
        title={projects[projects.length - 2].title}
        description={projects[projects.length - 2].tech}
      />
    </MainLayout>
  </body>
</html>
