---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import Portfolio from '../components/Portfolio';
import Timeline from '../components/Timeline';
import { projects } from '../data/projects';

// const allProjects = await getCollection('projects');
// const projectsData = allProjects[0]?.data || [];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Мое портфолио</title>
  </head>
  <body>
    <MainLayout title="Моё Портфолио">
      <header class="mb-12">
        <h1
          class="text-4xl font-bold bg-gradient-to-r from-blue-400 to-emerald-400 bg-clip-text text-transparent"
        >
          Привет, я Frontend Разработчик
        </h1>
      </header>
      <Timeline client:visible />
      <Portfolio client:load projects={projects} />
    </MainLayout>
  </body>
</html>
