---
import MainLayout from '../layouts/MainLayout.astro';
import {
  Portfolio,
  Timeline,
  Footer,
  Skills,
  Header,
  About,
  GithubSection,
  Achievements,
} from '../components';
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/fav.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Моё Портфолио</title>
  </head>
  <body>
    <MainLayout title="Портфолио">
      <Header client:load />
      <About client:load />
      <Portfolio client:only="react" />
      <GithubSection client:visible />
      <Timeline client:visible />
      <Skills client:visible />
      <Achievements client:visible />
      <Footer client:idle />
    </MainLayout>
  </body>
</html>
