---
import MainLayout from '../layouts/MainLayout.astro';
import {
  Portfolio,
  Timeline,
  Footer,
  Skills,
  Header,
  About,
  GithubSection,
} from '../components';
import { projects } from '../data/projects';
import { skills } from '../data/skills';
import Achievements from '../components/Achievements';
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Мое портфолио</title>
  </head>
  <body>
    <MainLayout title="Моё Портфолио">
      <Header client:load />
      <About client:load />
      <Portfolio client:visible projects={projects} />
      <GithubSection client:visible />
      <Timeline client:visible />
      <Skills client:visible skillsArray={skills} />
      <Achievements client:visible />
      <Footer client:visible />
    </MainLayout>
  </body>
</html>
