---
import { BackgroundGradient } from '../components';
import '../styles/global.css';
---

<html lang="ru" class="overflow-x-hidden">
  <body
    class="bg-slate-900 text-white selection:bg-brand-light/30 min-h-screen overflow-x-hidden custom-scrollbar"
  >
    <BackgroundGradient client:only="react" />
    <main class="flex flex-col items-center w-full max-w-7xl mx-auto px-4 py-8">
      <slot />
    </main>
  </body>
</html>
