---
import Header from '../components/header/Header.astro';
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
    </script>
    <Header />
  </head>
  <body>
    <main>
      <>
        <slot />
      </>
    </main>

    <footer>2026 Мое Портфолио</footer>
  </body>
</html>
