---
import Header from '../components/header/Header.astro';
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <Header />
  </head>
  <body>
    <main>
      <>
        <slot />
      </>
    </main>

    <footer>2026 Мое Портфолио</footer>
  </body>
</html>
